{% extends 'ventos/base.html' %}
{% block content %}
<p> Ventos Scheduler Home Page</p>
<div class="row">
    Step:1
            <a href="{% url 'scheduler:add' %}" class="btn btn-link" role="button">Add Building Data</a>
    </div>
    <div class="row">
        Step 2:
            <a href="{% url 'scheduler:addreg' %}" class="btn btn-link" role="button">Add Registration Data</a>
    </div>
    <div class="row">
        Step 3:
    <a href="{% url 'scheduler:schedule_reg' %}" class="btn btn-link" role="button">Schedule</a>
</div>
    <divi class="row">
    <button type="button" class="btn btn-link">Show Calendar</button>
</div>
{%endblock%}
